<div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

		<div class="container theme-showcase" role="main">
	<div class="row">	
		<div class="page-heading">
			<h3 class="page-title">Completion of Liquidation</h3>
		</div>
	</div>
	<div class="row" id="mbc_details" style="display:block;">
					<div class="col-sm-6 col-sm-offset-3" style="background-color:#dddee8;border-radius:5px;">
						<br/>
						<div class="row">
							<div class="col-sm-6">
								<label>MBC Name :</label>
							</div>
							<div class="col-sm-6">
								<label>MBC Name</label>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-6">
								<label>Voluntary Liquidator Name :</label>
							</div>
							<div class="col-sm-6">
								<label>Voluntary Liquidator Name</label>
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-6">
								<label>Completion Liquidation Date :</label>
							</div>
							<div class="col-sm-6 form-group input-group">
							
								<label>MM/DD/YYYY</label>
					
				
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<label>Resignation Fee :</label>
							</div>
							<div class="col-sm-6 form-group input-group">
								
								<label>$50</label>
				
							</div>
				
					</div>
				
				<div class="row">
					<div class="col-sm-4 ">
							<p>Click on the  button to generate completion of liquidation notice e-document <p>
				
					<a href="../pdf/Annual-return.pdf" download >
					<input value="Generate e-document"  type="submit" class="primary-btn" id="genereate_btn"></input>
						</a>	
						
					</div>
				</div>
				
				<div class="cleaner h20"></div>
				
				
			<a ui-sref="roca-completion-of-liquidation-success-msg" class="btn btn-success" id="accept_btn">Accept</a>
			<a ui-sref="roca-completion-of-liquidation-reject-msg" class="btn btn-danger" id="reject_btn">Reject</a>
				
				<div class="cleaner h20"></div>
		</div>
		
		</div>

    </div> <!-- /container -->

	<div class="cleaner h80"></div>
	
	<script>

		$(document).ready(function(){
		    $("#search").click(function(){
				$("#avail").css("display", "block");
			});
		
			$("#submit").click(function(){
				window.location="confirmation.html";
			});
	});
		function sendMail() {
       var validator = $("#enquiry").validate({
              rules: {
 
              },
             
          });
          if (validator.form()) {
              alert('Thank you for contacting us. We will be in touch with you very soon.');
          }

    }

	
	
	
	
	$(document).ready(function(){
	
		$("#check_liquidate").click(function(){
		
			$("#eligible").css("display", "block");	
					
			$("#voluntary_liquidators").css("display", "block");			
					
					
					});
		
		});
		
	


</script>
