    <!-- Navigation -->

    <div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
		  <div id="InternalError">

		     <div class="row internal-error">
    <div class="col-sm-2 col-sm-offset-2">

    <img src="assets/images/alert-icon.png" alt="error-image"  class="img-responsive" />

    </div>

    <div class="col-sm-6">
     <div class="error-title margin-b80">We are experiencing problems processing your request. Please try again later.</div>
    </div>
   </div>



    </div>


	 </div>
    <!-- /.container -->
