<div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

    <!-- Page Content -->
    <div class="container">
		<div class="row">
		<h3 ng-show="passwordSuccess" style="text-align:center;" id="pswd_change_msg">Password changed successfully</h3>
		</div>
        <div class="row" ng-show="!passwordSuccess">
			<div class="col-md-12">
                <div class="login-panel">
                    <div class="panel-heading">
                        <h3 class="page-header">Change Password</h3>
                    </div>
                    <div class="panel-body">
						<div>
							<h3 ng-show="userFail" class="errMsg" style="text-align:center;" id="changed_failed_msg">Password change failed.</h3>
						</div>
                        <form role="form" name="changePasswordForm" novalidate>
                            <fieldset>
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<div class="panel panel-success">
											<div class="panel-heading">Password Details</div>
											<div class="panel-body">
												<label>Old password<sup class="errMsg">*</sup></label>
												<div class="form-group">
													<span class="errMsg" ng-show="(changePasswordForm.oldPass.$touched)&&(changePasswordForm.oldPass.$invalid)" id="old_pswd_err_msg">Enter password with 6-15 Characters.</span>
													<input class="form-control" placeholder="Old password" name="oldPass" type="password" ng-model="passwordDetails.oldPassword" ng-pattern="/^[a-zA-Z0-9._!@#$%^&*-]{6,15}$/" required id="old_pswd_tb">
												</div>
												<label>New password<sup class="errMsg">*</sup></label>
												<div class="form-group">
													<span class="errMsg" ng-show="(changePasswordForm.newPass.$touched)&&(changePasswordForm.newPass.$invalid)" id="new_pswd_err_msg">Enter password with 6-15 Characters.</span>
													<input class="form-control" placeholder="New password" name="newPass" type="password" ng-model="passwordDetails.newPassword" ng-pattern="/^[a-zA-Z0-9._!@#$%^&*-]{6,15}$/" required id="new_pswd_tb">
												</div>
												<label>Confirm new password<sup class="errMsg">*</sup></label>
												<div class="form-group">
													<span class="errMsg" id="confirm_new_pswd_err_msg">{{passMsg}}</span>
													<input class="form-control" placeholder="Confirm new password" name="confNewPass" type="password" ng-model="passwordDetails.confirmPassword" ng-keyup="passCheck()" ng-pattern="/^[a-zA-Z0-9._!@#$%^&*-]{6,15}$/" required id="confirm_new_pswd_tb">
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="row">
									<div class="col-sm-4 col-sm-offset-4">
										<button class="btn btn-lg btn-primary btn-block" ng-disabled="!((changePasswordForm.oldPass.$valid)&&(changePasswordForm.newPass.$valid)&&(passwordMatch))" ng-click="changePassword()" id="change_pswd_btn">Change password</button>
										
									</div>

								</div>
								
							</fieldset>
                        </form>
						<br/><br/>
                    </div>
                </div>
            </div>
        </div>
		
		<!--<div class="row" ng-show="passwordSuccess">
			<div class="col-md-12">
				<h3 style="text-align:center;">Password changed successfully</h3>
			</div>
		</div>-->
		
		
    </div>
    <!-- /.container -->
	
