<div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
		  <div id="ListUser_page">
		   <div class="row" ng-show="!loading">
		   
		   
		   
		   <div class="col-lg-12">
                <h1 class="page-header">
				
				<div class="col-lg-6">
				<div class="row">
				Users
				</div>
				</div>
				
				<div class="col-lg-6">
                    <small>
					<div class="form-group pull-right" ng-show="usersPresent">
                         <span class="search_label">Search:</span>
						<input class="form-control listUsers-Search input-sm" type="text" ng-model="searchText" id="search_users_tb">                 
			
		</div>
		</small>
		</div>
		<div style="clear:both"></div>
                </h1>
            </div>
		  </div>
		  
		 <div class="alert alert-success col-sm-6 col-sm-offset-3" ng-show="actiateSuccess">
		  <b class="Response-message activate" id="user_activated_msg">User Activated successfully</b>
		  </div>
		  <div class="alert alert-success col-sm-6 col-sm-offset-3" ng-show="deactiateSuccess">
				<b class="Response-message activate" id="user_deactivated_msg">User Deactivated successfully</b>
		  </div>
		  <div class="alert alert-success col-sm-6 col-sm-offset-3" ng-show="userRegSuccess">
				<b class="Response-message activate" id="user_registered_msg">User registered successfully</b>
		  </div>
		  <div class="alert alert-success col-sm-6 col-sm-offset-3" ng-show="userUpdateSuccess">
				<b class="Response-message activate" id="user_updated_msg">User updated successfully</b>
		  </div>
		  <div class="alert alert-success col-sm-6 col-sm-offset-3" ng-show="userResetPasswordSuccess">
				<b class="Response-message activate" id="user_password_reset_msg">Password reset successfully</b>
		  </div>
	<div class="row margin-b80" ng-show="!loading">
				<div class="col-lg-12" ng-show="noUsersPresent">
					<h3 style="text-align:center;" id="no_users_msg">No Users Found</h3>
				</div>
				<div class="cleaner"></div>
                <div class="col-lg-12" ng-show="usersPresent">
				    <div class="">
                        <!-- /.panel-heading -->
                       <div class="table-responsive">
                            <table width="100%" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th ng-click="sortData('name')" id="sort_name_heading">Name <div ng-class="getSortClass('name')"></div> </th>
                                        <!--<th ng-click="sortData('gender')">Gender <div ng-class="getSortClass('gender')"></div> </th>-->
										<th ng-click="sortData('role')" id="sort_role_heading">Role <div ng-class="getSortClass('role')"></div> </th>
                                        <th ng-click="sortData('email')" id="sort_email_heading">Email <div ng-class="getSortClass('email')"></div> </th>
										<th ng-click="sortData('city')" id="sort_city_heading">City <div ng-class="getSortClass('city')"></div> </th>
										<th ng-click="sortData('state')" id="sort_state_heading">State <div ng-class="getSortClass('state')"></div> </th>
                                        <th ng-click="sortData('country')" id="sort_country_heading">Country <div ng-class="getSortClass('country')"></div> </th>
										<th ng-click="sortData('zipcode')" id="sort_zipcode_heading">Zipcode <div ng-class="getSortClass('zipcode')"></div> </th>
										<th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
									<tr ng-repeat="x in output.responsePayload | orderBy:sortColumn:reverseSort | filter:searchText">
									<!--<tr dir-paginate="x in output.responsePayload | orderBy:sortColumn:reverseSort | filter:searchText | itemsPerPage:5">-->
										<td>{{x.firstName+" "+x.lastName}}</td>
										<!--<td>
											<span ng-show="x.gender == 'm'">Male</span>
											<span ng-show="x.gender == 'f'">Female</span>
										</td>-->
										<td>{{x.roleDetails.role}}</td>
										<td>{{x.email}}</td>
										<td>{{x.city}}</td>
										<td>{{x.state}}</td>
										<td>{{x.country}}</td>
										<td>{{x.postalCode}}</td>
										<td class="t-center"><a ng-click="editUser(x.userDetailsId)" title="Edit {{x.firstName}}" id="edit_user_btn"><i class="fa fa-pencil-square-o editSite" aria-hidden="true"></i></a>
										
											<!--<button class="btn btn-success btn-activate" ng-show="x.status == 0" ng-click="activateUserModal(x.userDetailsId)">Activate</button>
											<button class="btn btn-danger" ng-show="x.status == 1" ng-click="deactivateUserModal(x.userDetailsId)">Deactivate</button>-->
											
											<a ng-click="activateUserModal(x.userDetailsId)" title="Activate {{x.firstName}}" ng-show="x.status == 0" id="activate_user_btn"><i class="fa fa-user userActivate" aria-hidden="true"></i></a>
											<a ng-click="deactivateUserModal(x.userDetailsId)" title="Deactivate {{x.firstName}}" ng-show="x.status == 1" id="deactivate_user_btn"><i class="fa fa-user-times userDeactivate" aria-hidden="true"></i></a>
											
											<a ng-click="resetPasswordUserModal(x.userDetailsId)" title="Reset Password {{x.firstName}}" id="reset_user_password_btn"><i class="fa fa-refresh editSite" aria-hidden="true"></i></a>
										</td>
									</tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->

                        </div>
						
						<!--<div style="clear:both;"></div><div class="col-lg-12"><dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" class="pull-right" ></dir-pagination-controls></div>-->
						
						<div class="modal fade" id="activateModal" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" id="activate_modal_close_btn">&times;</button>
															<h4 class="modal-title" style="color:red;text-align:left;">Activate User</h4>
														</div>
														<div class="modal-body">
															<h4 style="white-space:pre-wrap;">Are you sure? Do you want to activate the user?</h4>
															<br/>
															<button ng-click="activateUser()" class="btn btn-danger" data-dismiss="modal" style="padding:6px 12px !important;" id="confirm_activate_user_btn">Yes</button>
															<button class="btn btn-success" data-dismiss="modal" style="font-size:14px;" id="not_activate_user_btn">No</button>
														</div>
													</div>
												</div>
											</div>
											
						<div class="modal fade" id="deactivateModal" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" id="deactivate_modal_close_btn">&times;</button>
															<h4 class="modal-title" style="color:red;text-align:left;">Deactivate User</h4>
														</div>
														<div class="modal-body">
															<h4 style="white-space:pre-wrap;">Are you sure? Do you want to deactivate the user?</h4>
															<br/>
															<button ng-click="deactivateUser()" class="btn btn-danger" data-dismiss="modal" style="padding:6px 12px !important;" id="confirm_deactivate_user_btn">Yes</button>
															<button class="btn btn-success" data-dismiss="modal" style="font-size:14px;" id="not_deactivate_user_btn">No</button>
														</div>
													</div>
												</div>
											</div>
											
						<div class="modal fade" id="resetPassswordModal" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" id="reset_password_modal_close_btn">&times;</button>
															<h4 class="modal-title" style="color:red;text-align:left;">Reset Password</h4>
														</div>
														<div class="modal-body">
															<h4 style="white-space:pre-wrap;">Are you sure? Do you want to reset the password?</h4>
															<br/>
															<button ng-click="resetPasswordUser()" class="btn btn-danger" data-dismiss="modal" style="padding:6px 12px !important;" id="confirm_reset_password_btn">Yes</button>
															<button class="btn btn-success" data-dismiss="modal" style="font-size:14px;" id="not_reset_password_btn">No</button>
														</div>
													</div>
												</div>
											</div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        <!-- /.row -->
		
		<div class="row margin_b80" ng-show="loading">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 col-md-offset-4" ng-show="resetPasswordLoading">
						<loading></loading>
					</div>
					<div class="col-md-4 col-md-offset-4" ng-show="usersListLoading">
						<loading></loading>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-12">
						<h3 ng-show="resetPasswordLoading" style="text-align:center;" id="sending_password_msg">Please wait... we are sending new password</h3>
					</div>
					<div class="col-md-12">
						<h3 ng-show="usersListLoading" style="text-align:center;" id="sending_password_msg">Please wait... we are loading users</h3>
					</div>
				</div>
			</div>
		</div>
    </div>

		<!--<nav aria-label="..." class="pull-right"  >
		  <ul class="pagination">
			<li class="page-item disabled">
			  <a class="page-link" tabindex="-1" aria-label="Previous">
				<span aria-hidden="true">Previous</span>
				<span class="sr-only">Previous</span>
			  </a>
			</li>
				<li class="page-item active">
				  <a class="page-link" >1 <span class="sr-only">(current)</span></a>
				</li>
				<li class="page-item"><a class="page-link" >2</a></li>
				<li class="page-item"><a class="page-link" >3</a></li>
				<li class="page-item"><a class="page-link" >4</a></li>
				<li class="page-item"><a class="page-link" >5</a></li>
			<li class="page-item">
			  <a class="page-link" aria-label="Next">
				<span aria-hidden="true">Next</span>
				<span class="sr-only">Next</span>
			  </a>
			</li>
		  </ul>
		</nav>-->
	 </div>
    <!-- /.container -->
	
