<div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

    <div class="container theme-showcase" role="main">


				<div class="row">	
					<div class="page-heading">
                        <h3 class="page-title" style="font-size:28px;">Register Certificate of Restoration of Dissolution - Details</h3>
                    </div>
				</div>
				
			 <div class="row">	
				
				 <div class="col-sm-8">
				
				
				<div class="charter-content"> 
				<ul>
<li><span class="w-300"><i class="fa fa-check-circle" aria-hidden="true"></i> MBC Name :</span> 
<span>MBC Name</span></li>

<li><span class="w-300"><i class="fa fa-check-circle" aria-hidden="true"></i> MBC Number :</span> 
<span>MBC Number</span></li>

<li><span class="w-300"><i class="fa fa-check-circle" aria-hidden="true"></i> Registered Agent Name :</span> 
<span>Registered Agent Name</span></li>

<li><span class="w-300" ><i class="fa fa-check-circle" aria-hidden="true"></i> Registered Office :</span> 
<span>Registered Office</span></li>

				</ul>
				</div> 
			
<div class="cleaner h20"></div>
			<a ui-sref="roca-mbc-success" class="btn btn-success" id="accept_btn">Accept</a>
			<a ui-sref="roca-mbc-reject" class="btn btn-danger" id="reject_btn">Reject</a>
			
				
				

 </div>

 </div>

    </div> <!-- /container -->
	
			<div class="cleaner h80"></div>
	<
	<script>

$(document).ready(function(){
    $("#search").click(function(){
        $("#avail").css("display", "block");
    });
});

$(document).ready(function(){
    $('.sendButton').attr('disabled',true);
    $('#message').keyup(function(){
        if($(this).val().length !=0)
            $('.sendButton').attr('disabled', false);   
        else
            $('.sendButton').attr('disabled',true);
			$("#avail").css("display", "none");
    });
});

</script>
