<div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

    <div class="container theme-showcase" role="main">

		<div class="row">	
					<div class="page-heading">
                        <h3 class="page-title fs28">General Information on Company Shares</h3>
                    </div>
		</div>

		
				
		<div class="row">	
				
			<div class="col-sm-12">
				
			<div class="panel panel-default form-div"> <div class="panel-heading"> 
				<h3 class="panel-title"><i class="fa fa-arrow-right" aria-hidden="true"></i> General Information</h3> </div> 
				<div class="panel-body"> 
				
				
	<form action="" id="enquiry">

		<div class="row">	
			<div class="col-sm-6">
				<label>Capital of the MBC</label>
					<div class="form-group input-group">
						<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
						<input type="number" class="form-control"  id = "Capital_of_the_MBC"  placeholder="Capital of the MBC" required="required">
                    </div>
			</div>
				
			<div class="col-sm-6">
				<label>Profit of the MBC</label>
					<div class="form-group input-group">
						<span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
						<input type="number"  id = "profit_of_MBC"class="form-control" placeholder="Profit of the MBC" required="required">
                    </div>
			</div>
		</div>
												
		<div class="row">	
			<div class="col-sm-6">
				<label>Entity Name that owns the largest percentage of shares</label>
				<div class="form-group input-group">
					<input type="number"  id = "percentage_of_shares" class="form-control" required="required">
					<span class="input-group-addon">%</span>
                </div>
			</div>
			
			<div class="col-sm-6">
				<label>Person(s) Names(s) who will receive a Dividend</label>
				<div class="form-group">
					<input class="form-control" placeholder="Person(s) Names(s) who will receive a Dividend"  autofocus="" required="required" type="text" id="person_names_dividend_tb">
				</div>
			</div>
			
			
			
			
			
		</div>
			
			<hr/>
			
		<div class="row">	
			<div class="col-sm-12">
				<div class="form-group">
					<label>Issuance of Share Certificates: </label>
					<label class="radio-inline">
						<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="Issuance-true" >True
					</label>
					<label class="radio-inline">
						<input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="Issuance-false">False
					</label>
				</div>
				
				
				
				<div class="alert alert-success Issuance-true-div">
                               
                    <ul>
						<li>Person1 Name : Received Share Certificates</li>
						<li>Person2 Name : Received Share Certificates</li>
						<li>Person3 Name : Received Share Certificates</li>
					</ul>
                </div>
	
				<div class="alert alert-success Issuance-false-div">
				The System will Generate an e-Letter stating that the Person(s) identified <b>have not been issued</b> any share certificate(s).
				</div>
			</div>
		</div>
		
		<hr/>
								
			<div class="row">	
				<div class="col-sm-6">
				<label> Name of the Person that own share in the MBC</label>
				<div class="form-group">
					<input class="form-control" id = "person_name1" placeholder="Person1 Name that own share in the MBC"  autofocus="" required="required" type="text">
				</div>
				<div class="form-group">
					<input class="form-control"  id = "person_name2" style = "display:none;"placeholder="Person2 Name that own share in the MBC"  autofocus="" required="required" type="text">
				</div>
				<div class="form-group" id="add_person_name">
					<input type="submit" class="primary-btn" value="Add Person / Share" id="add_person_name_button">
				</div>
				</div>
				
				<div class="col-sm-6">
				<label>Number of Shares for the Person </label>
					<div class="form-group">
						<input class="form-control" id = "person_share1" placeholder="Number of shares for Person1" autofocus="" required="required" type="text">
					</div>
					<div class="form-group">
						<input class="form-control"  id = "person_share2"  style = "display:none;" placeholder="Number of shares for Person2"  autofocus="" required="required" type="text">
					</div>
				</div>
			</div>
			
			<hr/>
												
												
			<div class="row">	
				<div class="col-sm-6">
						<label>Evidence of Legal Title</label>
						<div class="form-group">
							<input class="form-control" placeholder="Evidence of Legal Title" name="" autofocus="" required="required" type="text" id="evidence_title_tb">
						</div>
				</div>
				</div>
				
				<button value="Submit" id="submit_modified" type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Generate E-Holding statement</button>
				
												
			<div class="cleaner h30"></div><div class="cleaner h10"></div>
					<div class="form-group">
							<div class="col-sm-3">
								<div class="row">
								<!--<input value="Submit" id="submit" type="submit" class="primary-btn" onclick="sendMail()"></input>-->
								<a class="primary-btn" ui-sref="mbc-shares-confirmation" id="submit_btn">Submit</a>
								</div>	
							</div>
					</div>
																
</form>

				
				</div>
			</div>
			

		</div>

		</div>

    </div> <!-- /container -->

	</div>
			<div class="cleaner h80"></div>
	

	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content modal-conformation">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" id="modal_close_btn">&times;</button>
          <h4 class="modal-title">E-Holding statement</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <label>Capital  of the MBC</label>
                    <div class="form-group">
                    <span id="captial_of_mvc"></span><br/>
                    </div>
                </div>
				
				<div class="col-sm-6">
                    <label>Profit of the MBC</label>
                    <div class="form-group">
                    <span id="profit_of_mvc"></span><br/>
                    </div>
                </div>
				
				
            </div>
           
		   
            <div class="row">
                <div class="col-sm-6">
                    <label>Name of the Person that own share in the MBC</label>
                    <div class="form-group">
                    <span id="popup_person1_name"></span><br/>
                    <span id="popup_person2_name"></span>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <label>Number of Shares for the Person</label>
                    <div class="form-group">
                    <span id="popup_person1_share"></span><br/>
                    <span id="popup_person2_share"></span>
                    </div>
                </div>
            </div>
        
        </div>
      </div>
      
    </div></div>

    
	
	<script>
	

$(document).ready(function(){
			$(".Issuance-false-div").hide();
            $(".Issuance-true-div").hide();
    $('input[type="radio"]').click(function(){
        if($(this).attr("value")=="Issuance-true"){
            //$(".box").not(".red").hide();
			$(".Issuance-false-div").hide();
            $(".Issuance-true-div").show();
        }
        if($(this).attr("value")=="Issuance-false"){
            //$(".box").not(".green").hide();
           	$(".Issuance-true-div").hide();
            $(".Issuance-false-div").show();
        }

    });
});


		$(document).ready(function(){
		    $("#search").click(function(){
				$("#avail").css("display", "block");
			});
			
			$("#submit").click(function(){
				window.location="MBC-shares-conformation.html";
			});
	

	});
		function sendMail() {
       var validator = $("#enquiry").validate({
              rules: {
 
              },
             
          });
          if (validator.form()) {
              alert('Thank you for contacting us. We will be in touch with you very soon.');
          }

    }
	
	
	$(document).ready(function(){
	
		
		
		
		$("#add_person_name_button").click(function(){
			$("#person_name2").css("display", "block");
			$("#person_share2").css("display", "block");
			$("#add_person_name").css("display", "none");
		});
		
		var data = new RegExp('^[1|2]{1}$');
		
		$("#person_share1").keyup(function(){
		
			console.log(data.test($(this).val()));
			if(!(data.test($(this).val()))){
				$(this).val("");
			}
			
		});
		
		$("#person_share2").keyup(function(){
		
			console.log(data.test($(this).val()));
			if(!(data.test($(this).val()))){
				$(this).val("");
			}
			
		});
		
		
		
		$("#Capital_of_the_MBC").keyup(function(){
		 
		 if($(this).val() > 2000000){
		 
		 $(this).val("");
		 }
		 });
		 
		 $("#profit_of_MBC").keyup(function(){
		 
		 if($(this).val() > 2000000){
		 
		 $(this).val("");
		 }
		});
		
		 $("#percentage_of_shares").keyup(function(){
		 
		 if($(this).val() > 100){
		 
		 $(this).val("");
		 }
			});
		
		
		$("#submit_modified").click(function(){
            profit_of_mvc
           $("#captial_of_mvc").text($("#Capital_of_the_MBC").val());
            $("#profit_of_mvc").text($("#profit_of_MBC").val());
			
			
            $("#popup_person1_name").text($("#person_name1").val());
            $("#popup_person2_name").text($("#person_share1").val());
            
            $("#popup_person1_share").text($("#person_name2").val());
            $("#popup_person2_share").text($("#person_share2").val());
        });
		
		
		
	});


</script>

    