<div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

    <div class="container theme-showcase" role="main">

				
		<div class="row">	
			<div class="col-sm-12">
			
			
			
			<div class="alert alert-success Issuance-true-div" style="display: block; text-align: center; font-weight: bold;">
				Officially Transform  MBC to a BVI Business Company  will effect from date XX/XX/XXXX
		     
			</div>
<center><button value="Submit" id="submit_modified" type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Generate Transformation Approval Notice</button></center>	
		</div>
		</div>
		
		<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-content modal-conformation">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" id="close_modal_btn">&times;</button>
          <h4 class="modal-title">Transformation Approval Notice e-document</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <label>Registered Agent Name</label>
                    <div class="form-group">
                    <span >Agent Name</span><br/>
                    </div>
                </div>
				
				<div class="col-sm-6">
                    <label>BVI Name</label>
                    <div class="form-group">
                    <span >BVI Name</span><br/>
                    </div>
                </div>
				
				
            </div>
           
		   
            <div class="row">
                <div class="col-sm-6">
                    <label>Registered Office Address</label>
                    <div class="form-group">
                    <span id="popup_person1_name">Address Line 1</span><br/>
                    <span id="popup_person2_name">Address Line2</span>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <label>Transformation Notification  Date</label>
                    <div class="form-group">
                    <span id="popup_person1_share">xx/xx/xxxx</span><br/>
                    <span id="popup_person2_share"></span>
                    </div>
                </div>
            </div>
        
        </div>
      </div>

    </div> 

    </div> <!-- /container -->

	</div>
			<div class="cleaner h80"></div>
	
	<script>

		$(document).ready(function(){
		    $("#search").click(function(){
				$("#avail").css("display", "block");
			});
		
			$("#submit").click(function(){
				window.location="charter.html";
			});
	});
		function sendMail() {
       var validator = $("#enquiry").validate({
              rules: {
 
              },
             
          });
          if (validator.form()) {
              alert('Thank you for contacting us. We will be in touch with you very soon.');
          }

    }

</script>

   
