<div ng-include="'app/components/common/templates/header.html'" ng-controller="headerController"></div>

    <div class="container theme-showcase" role="main">

		<div class="row">	
			<div class="page-heading">
				<h3 class="page-title fs28">Registrar of Corporate Affairs(ROCA)</h3>
			</div>
		</div>

		
	<div class="row">	
		<div class="col-sm-12">
				
		<div class="panel panel-default form-div">
		<div class="panel-heading"> 
			<h3 class="panel-title"><i class="fa fa-arrow-right" aria-hidden="true"></i>Registrar of Corporate Affairs(ROCA)</h3> 
		</div> 
	<div class="panel-body"> 
	<form action="" id="enquiry">
	
	<div class="row">
		<div class="col-sm-6">
		<h2>Registrar</h2>
		</div>
	</div>
	<hr/>

	<div class="row">	
		<div class="col-sm-6">
		<label>Geographic Location</label>
		<div class="form-group">
			<input class="form-control" placeholder="Geographic Location"  autofocus=""  type="text" value="76.76.175.129" id="geo_loc_tb" />
		</div>
		</div>
		
		<div class="col-sm-6">
		<label>Street Address</label>
			<div class="form-group">
				<input class="form-control" placeholder="Street Address"  type="text" value="line 1" id="street_tb" />
			</div>

		</div>
	</div>
	
	
	<div class="row">	
		<div class="col-sm-6">
		<label>City</label>
		<div class="form-group">
			<input class="form-control" placeholder="City"   type="text" value="Road Town" id="city_tb" />
		</div>
		</div>
		
		<div class="col-sm-6">
		<label>Country</label>
			<div class="form-group">
				<input class="form-control" placeholder="Country" type="text" value="BVI" id="country_tb" />
			</div>

		</div>
	</div>
	
	<div class="row">	
		<div class="col-sm-6">
		<label>Telephone Number</label>
		<div class="form-group">
			<input class="form-control" placeholder="Telephone Number"  type="text" value="1-999-999-9999" id="tel_num_tb" />
		</div>
		</div>
		
		<div class="col-sm-6">
		<label>Fax Number</label>
			<div class="form-group">
				<input class="form-control" placeholder="Fax Number" type="text" value="1-999-999-9999" id="fax_num_tb" />
			</div>

		</div>
	</div>
	
	
	<div class="row">	
			<div class="col-sm-6">
					<label>Full Legal Name of the Registrar</label>
					<div class="form-group">
						<input class="form-control" placeholder="Full Legal Name of the Registrar" name="" autofocus=""  type="text" value="FSC Registrar" id="name_tb" />
					</div>
			</div>
			
			<div class="col-sm-6">
			<label>Registrar E-Mail Address</label>
			<div class="form-group">
				<input class="form-control" placeholder="Registrar E-Mail Address"   type="text" value="fsc@gmail.com" id="email_tb" />
			</div>
		</div>
		</div>
	
	
		
		<div class="row">	
			<div class="col-sm-6">
				<label>Date of Notice Appointment</label>
				<div class="form-group">
					<input class="form-control" placeholder="Date of Notice Appointment" name="" autofocus=""  type="text" value="27/02/2017" id="date_tb" />
				</div>
			</div>
			
		</div>
			<hr/>
												
			<div class="cleaner h30"></div><div class="cleaner h10"></div>
		<div class="form-group">
				<div class="col-sm-3">
					
					<!-- <input value="Submit" id="submit" type="submit" class="primary-btn" ></input> -->
					<a ui-sref="super-registrar-success"  class="primary-btn" id="submit_btn">Submit</a>
	
				</div>
		</div>
		
		
	</form>
				
					</div>
				</div>
			</div>
		</div>
    </div> <!-- /container -->
	<div class="cleaner h80"></div>

	<script>
	

		$(document).ready(function(){
		  			
			$("#submit").click(function(){
				window.location="ROCA-Registrar-success.html";
			});
	

	});

	
</script>
